/* Removed unused CSS rules based on the provided HTML */

.main-content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;  
}

.content-title{
 font-size: 48px;
 font-family: 'Irish Grover', sans-serif;
 letter-spacing: 2px;
 color: #fff;
}

.content {
  height: auto;
  position: relative;
  z-index: 0;
  background: rgba(0, 35, 72, 0.7);
  width: 90%;
  margin-top: 50px;
  border-radius: 10px;
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
}

.left-ct {
  position: relative;
  text-align: left;
  color: white;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.btns {
  margin-top: 20px;
  display: flex;
}

.btn-dcmt {
  margin-right: 30px;
  width: 144px;
  height: 45px;
  border-radius: 20px;
  background: rgb(255, 255, 255, 0.2);
  border: solid 2px rgb(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.7);
  outline: none;
}

.btn-dcmt:hover {
  background: rgb(189, 189, 189, 0.7);
  color: white;
}

.go-up {
  padding: 140px;
  transform: translateY(-140px);
}

.title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 240px;
  font-weight: 900;
  background: linear-gradient(180deg, #ffffff 45%, #4fa5fe);
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  z-index: 1;
}
