#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover; /*đảm bảo video phủ đầy và không bị méo tỷ lệ*/
  z-index: -1; /*Cho phép các phần tử khác đè lên video background*/
}

.navs {
  width: 15%;
  position: fixed;
  background-color: rgb(0, 47, 96, 0.5);
  height: 100vh;
  top: 0;
  left: 0;
}

.lg {
  width: 170px;
  margin-left: 15px;
}

.nbar {
  flex-direction: column;
}

.nbar ul {
  list-style: none;
}

.nbar li {
  padding-left: 15px;
  list-style: none;
}

/* .nbar li:hover {
    background-color: rgb(247,234,234,0.5);
} */

.nbar a {
  text-decoration: none;
  color: #ffff;
  display: inline-block;
  font-size: 15px;
  transition: 0.3s ease;
  margin-left: 20px;
}

.nbar a:hover {
  font-size: 15.5px;
  transform: translateY(-2px);
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.nv-item {
  
  font-size: 15px;
}

.drpdwn-menu {
  display: none;
}

.drp-dwn:hover .drpdwn-menu {
  display: block;
}

.btn-drpdwn {
  width: 10px;
  transform: translateY(2px);
  color: white;
}

ul.drpdwn-menu {
  margin: 0;
}

.drpdwn-item {
  opacity: 0;
  color: #ffff;
  font-size: 15px;
  transform: translateY(-20px);
  animation: drpdwnFlow 0.6s forwards;
}

@keyframes drpdwnFlow {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.drpdwn-item:nth-child(1) {
  animation-delay: 0.1s;
}

.drpdwn-item:nth-child(2) {
  animation-delay: 0.2s;
}

.drpdwn-item:nth-child(3) {
  animation-delay: 0.3s;
}
