
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.main {
    transform: translateX(30px);
    position: absolute;
    right: 00px;
    top: 20px;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(-17px);
    
}

h1 {
    text-align: center;
    color: #333;
}
.btn-add{
    height: 35px;
    display: flex;
    align-items: center;
}
.btn-add p {
    margin-left: 5px;
}
.btn-add a {
    text-decoration: none;
}
td a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
    color: #333;
}

tr:hover {
    background-color: #f1f1f1;
}

img {
    width: 100px;
    border-radius: 4px;
}
.btn-feature {
    width: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;  
}
.feature-box {
    display:flex;
    justify-content:space-evenly;
}

